*.pdb filter=lfs diff=lfs merge=lfs -text
*.pse filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Crystal_TARGETS/1arbA.renum.pdb filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Crystal_TARGETS/1arbA.renum_pi_contacts.pse filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Crystal_TARGETS/1b6bA.renum.pdb filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Crystal_TARGETS/1bsgA.renum.pdb filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Crystal_TARGETS/1riiA.renum.pdb filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Crystal_TARGETS/1vex.renum.pdb filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Crystal_TARGETS/2xr6A.renum.pdb filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Crystal_TARGETS/4r3fA.renum.pdb filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Crystal_TARGETS/4xq4A.renum.pdb filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Target_Pi_Contacts/1arbA.renum.pdb_pi_contacts.txt filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Target_Pi_Contacts/1b6bA.renum.pdb_pi_contacts.txt filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Target_Pi_Contacts/1bsgA.renum.pdb_pi_contacts.txt filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Target_Pi_Contacts/1riiA.renum.pdb_pi_contacts.txt filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Target_Pi_Contacts/1vex.renum.pdb_pi_contacts.txt filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Target_Pi_Contacts/2xr6A.renum.pdb_pi_contacts.txt filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Target_Pi_Contacts/4r3fA.renum.pdb_pi_contacts.txt filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Target_Pi_Contacts/4xq4A.renum.pdb_pi_contacts.txt filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Target_Pi_Contacts/picon_residues_1arbA.renum.pdb_pi_contacts.txt filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Target_Pi_Contacts_amoeba/1arbA_amoebapro13.renum.pdb_pi_contacts.txt filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Target_Pi_Contacts_amoeba/1riiA.renum_amoebapro13.pdb_pi_contacts.txt filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Target_Pi_Contacts_amoeba/1rii_firstframe_amoebapro13.pdb_pi_contacts.txt filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Target_Pi_Contacts_amoeba/5f66A.renum.pdb_pi_contacts.txt filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Target_Pi_Contacts_amoeba/5f66A_amoebapro13.renum.pdb_pi_contacts.txt filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Target_Pi_Contacts_amoeba/5f66A_renum.pdb_pi_contacts.txt filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/Target_Pi_Contacts_amoeba/get_native_pi_contacts.sh filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/share_pi_contact_analysis/1arb_pi_contacts filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/share_pi_contact_analysis/1b6b_pi_contacts filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/share_pi_contact_analysis/1bsg_pi_contacts filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/share_pi_contact_analysis/1rii_pi_contacts filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/share_pi_contact_analysis/1vex_pi_contacts filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/share_pi_contact_analysis/2xr6_pi_contacts filter=lfs diff=lfs merge=lfs -text
03_06_20_Pi_Contact_Analysis_and_Scripts/share_pi_contact_analysis/make_4_fixed_charge_folders_for_pdb.sh filter=lfs diff=lfs merge=lfs -text
